@model Teeleh.Models.ViewModels.GameFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Game</h2>
@{
    bool condition = false;
    if (Model.Id != -1)
    {
        condition = true; //edit
    }
}



@using (Html.BeginForm("Create", "Games", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control", autofocus = "autofocus"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, new {@class = "form-control", placeholder = "eg 26 Oct 2018"})
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Developer)
        @Html.TextBoxFor(m => m.Developer, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Developer)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Publisher)
        @Html.TextBoxFor(m => m.Publisher, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Publisher)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MetaScore)
        @Html.TextBoxFor(m => m.MetaScore, new {@class = "form-control", type = "number", min = "0", max = "100", step = "1", maxlength = "3"})
        @Html.ValidationMessageFor(m => m.MetaScore)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserScore)
        @Html.TextBoxFor(m => m.UserScore, new {@class = "form-control", type = "number", min = "0", max = "10", step = "0.1", maxlength = "3"})
        @Html.ValidationMessageFor(m => m.UserScore)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ESRBRating)
        @Html.EnumDropDownListFor(m => m.ESRBRating, "Choose One ...", new {@class = "form-control", @style = "padding-top: 2px;padding-bottom:2px;"})
        @Html.ValidationMessageFor(m => m.ESRBRating)
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.OnlineCapability)
        @Html.LabelFor(m => m.OnlineCapability)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.SelectedGenres)
        <p class="alert alert-info">You can select multiple genres by holding down <strong>Ctrl</strong> button.</p>
        @Html.ListBoxFor(m => m.SelectedGenres, Model.Genres, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.SelectedGenres)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedPlatforms)
        <p class="alert alert-info">You can select multiple platforms by holding down <strong>Ctrl</strong> button.</p>
        @Html.ListBoxFor(m => m.SelectedPlatforms, Model.Platforms, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.SelectedPlatforms)
    </div>

    <div class="upload-image avatar-image">
        @Html.Label("Upload avatar photo")
        <input style="margin-bottom: 30px" type="file" name="AvatarImage" accept=".jpg, .png"/>
        @if (@Model.AvatarImagePath != null)
        {
            <img class="avatar-preview"style="margin-bottom: 30px" src="@Model.AvatarImagePath" alt="Image"/>
        }
    </div>

    <div class="upload-image cover-image">
        @Html.Label("Upload cover photo")
        <input style="margin-bottom: 30px" type="file" name="CoverImage" accept=".jpg, .png"/>

        @if (@Model.CoverImagePath != null)
        {
            @: <img class="cover-preview"style="margin-bottom: 30px" src="@Model.CoverImagePath" alt="Image"/>
        }

    </div>


    <div class="upload-image gameplay-image">
        @Html.Label("Upload gameplay images")
        <input style="margin-bottom: 30px" type="file" name="GameplayImages" accept=".jpg, .png" multiple/>
        @if (@Model.GameplayImagesPath != null)
        {
            <div>
                @foreach (var path in Model.GameplayImagesPath)
                {
                    <div style="display: inline-block">
                        <img class="gameplay-preview" src="@path" alt="Image"/>
                    </div>
                }
            </div>
        }
        @if (condition) //if it's not an edit page
        {
            <div style="margin-right: 10px">
                @Html.RadioButtonFor(model => model.gameplayOption, 0, new {@style = "margin-right:3px"})Overwrite old images
            </div>

            <div style="margin-right: 10px">@Html.RadioButtonFor(model => model.gameplayOption, 1, new {@style = "margin-right:3px", @checked = true})Add to existing</div>
        }
    </div>


    @Html.HiddenFor(q => q.Id)
    <br/>


    <div>
        <button type="submit" class="btn btn-primary ">Save</button>
        @if (condition)
        {
            @Html.ActionLink("Delete", "Delete", "Games", new {id = Model.Id}, new {@class = "btn btn-danger",})
        }

    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}