@model Teeleh.Models.ViewModels.Website_View_Models.AdminViewModel
@{
    ViewBag.Title = "Teeleh - Admin Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi @Model.FirstName!</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p class="alert alert-info">Please complete your information.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autofocus = "autofocus"})
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    @Html.HiddenFor(q => q.Id)
    <br />
    <div>
        <button type="submit" class="btn btn-primary ">Save</button>
    </div>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}