@model Teeleh.Models.Dtos.CasualNotificationDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-bottom: 40px">Tools</h2>

@using (Ajax.BeginForm("SendNotification", "Tools", new AjaxOptions {OnSuccess = "OnSuccess", OnBegin = "OnBegin", OnComplete = "OnComplete",
    OnFailure = "OnFailure"}, new{@enctype= "multipart/form-data" }))
{
    <div class="tools-section notification-sender">
        <h4 class="tools-section-title"> Notification Sender </h4>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Message)
        </div>
        <div class="upload-image avatar-image">
            @Html.Label("Upload avatar photo")
            <input style="margin-bottom: 30px" type="file" name="Avatar" accept=".jpg, .png" />
        </div>
        <div style="display: inline-block">
            <button type="submit" value="submit" class="btn btn-primary ">Send</button>
        </div>
        <div style="display: inline-block"><img id="progress" style="display: none" src="~/Image/loading.gif"/></div>
        <h5 id="result"></h5>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}

<script type="text/javascript">
    function OnSuccess(response) {
        $("#progress").hide();
        if (response.result === true)
            $("#result").text("Notification has been sent.");
        else {
            $("#result").text("Unexpected error happend.");
        }
    }
    function OnFailure(response) {
        $("#progress").hide();
        $("#result").text("Unexpected error happend.");
    }
    function OnBegin() {
        $("#progress").show();
        $("#result").text("");
    }

</script>